.contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 40px;
    align-items: start;



    @media (max-width: 1024px) {
      grid-template-columns: 1fr 1fr;
      row-gap: 48px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      row-gap: 48px;
    }
  }


  .avenue__block,
  .cloisters__block,
  .breuer__block {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    @media (max-width: 1024px) {
      grid-column: 1 / 2;

    }
  }

  .avenue__title,
  .cloisters__title,
  .breuer__title {
    font-weight: bold;
    margin-bottom: 16px;
    white-space: normal;
    word-wrap: break-word;
  }

  .avenue__gray,
  .cloisters__gray,
  .breuer__gray {
    color: gray;
  }

  .avenue__content,
  .cloisters__content,
  .breuer__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    @media (max-width: 767px) {
      grid-column: 1 / 2;

    }
  }

  .avenue__phone,
  .cloisters__phone,
  .breuer__phone {
    margin-bottom: 8px;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 3 / 5;
    justify-self: stretch;

    @media (max-width: 1024px) {
      grid-column: 2 / 3;
      grid-row: 1;
      width: 90%;
    }

    @media (max-width: 767px) {
      grid-column: 1;
      grid-row: 3;
      width: 50%;
      margin-top: auto;
    }
    }
  }



.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input,
  textarea {
    width: 100%;
    padding: 14px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    resize: none;
    transition: border 0.3s ease, box-shadow 0.3s ease;

    &:focus {
      border-color: #b42a2a;
      box-shadow: 0 0 4px rgba(180, 42, 42, 0.4);
    }
  }

  textarea {
    min-height: 100px;
  }

  &__button {
    background-color: #b42a2a;
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    border: none;
    padding: 14px 0;
    width: calc(100% + 30px);
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 8px;
    align-self: stretch;
    margin-top: auto;

    &:hover {
      background-color: transparent;
      border: 1px solid #b42a2a;
      color: #b42a2a;
    }
  }
}


