.gallery {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  overflow: visible;

  .card__images {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 5px;
    width: 100%;
    flex-wrap: nowrap;
  }


  .gallery__photo {
    width: 100%;

    height: auto;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0s;




    &:hover {
      transform: scale(1.05);

    }
  }


  .gallery__caption {
    margin-top: 12px;
    margin-bottom: 40px;
  }

  .gallery__title {
    font-size: clamp(18px, 2vw, 22px);
    font-weight: 700;
    margin-bottom: 4px;
    color: #D12D35;

  }

  .paragraph-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: clamp(16px, 2.5vw, 20px);
    color: #161616;
  }

  .gallery__category {
    font-size: clamp(14px, 1.5vw, 16px);
  }


  &__photos__first,
  &__photos__third,
  &__photos__second {
    margin-bottom: 40px;
    width: clamp(280px, 80vw, 1200px);
    margin-inline: auto;

  }
  @media (max-width: 1024px) {
    .gallery__photo {
    width: 60%;
    }
    &__photos__second{
      .gallery__photo {
      width: clamp(29px, 30vw, 1024px);
    }
    }



  @media (max-width: 768px) {
    .gallery__photo {
    width: 55%;
  }

  &__photos__second{
      .gallery__photo {
      width: clamp(1px, 30vw, 720px);
    }
  }

    .card__images {
      gap: 12px;
    }

    .gallery__title {
      font-size: clamp(16px, 3vw, 20px);
    }

    .gallery__category {
      font-size: clamp(12px, 2.5vw, 16px);
    }
  }

  @media (max-width: 480px) {
    .card__images {
      gap: 8px;
    }

    .gallery__photo {
      max-width: 100%;
    }
  }

}

.exhibitions__button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.exhibitions__button {
  display: inline-block;
  background-color: #b42a2a;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 12px 48px;
  border: 1px solid #b42a2a;
  transition: all 0.3s ease;

}

.exhibitions__button:hover {
  background-color: transparent;
  color: #b42a2a;
  transform: scale(1.1);
}
}
