.header {
  position: relative;
  z-index: 1;
  background-image: url(../images/header-mobile.png);
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {

    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


  }
  &__bottom{
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


    @include onTablet {
      padding-bottom: 64px;
    }
  }
}


