.header {
  display: flex;
  flex-direction: column;
  z-index: 1;
  height: 100vh;
  background-image: url(../images/header-mobile.png);
  background-size: cover;
  background-position: center;
  color: white;
  padding: 0 120px;

  @media (max-width: 1024px) {
    padding: 0 40px;
  }

  @media (max-width: 600px) {
    padding: 0 20px;
  }


  &__content {
    justify-content: center;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;


  }
  &__bottom{

    flex: 1;
    display: flex;
    justify-content: center;
    padding: 0;
    padding-top: 83px;



  }
}


