
.icon {
  display: block;
  height: 24px;
  width: 24px;
  transition: transform 0.3s;

  @include hover(transform, scale(1.2));

  &--phone {
  background-image: url(../icon/Vector.png);
  }

  &--menu {
  background-image: url(../icon/menu.png);

    //&:hover {
    // можно изменить иконку при ховере
    // background-image: url(../icon/menu-hover.png);
    //}
  }

  &--close {
  background-image: url(../close/Close.png) ;
  }

}




