.more {

  .more__photo {
    width: 100%;
    display: block;
  }

  .more__title {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #D12D35;
  }

  .more__text {
    text-align: center;
  }
}
