.title {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.1;
  white-space: normal;
  @include onTablet {
    font-size: 40px;
  }
}
